In [1]:
import pandas as pd
data = pd.read_csv("three_data_merged.csv")

/var/folders/26/l89mqgp17zj82yvlmd3z3r200000ks/T/ipykernel_97377/776332092.py:2: DtypeWarning: Columns (249,250,255,256,257,258,259,264,265,266,267,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,308,309,315,316,317,318,319,321,325,326,327,338,339,344,345,346,347,348,349,350,351,354,355,356,357,368,369,372,373,374,377,385,386,387,388,389,390,391,393,394,2060,2061) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("three_data_merged.csv")

In [2]:
data

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,Bay Minette,182265,4117.522,1589.784,1133.19,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
3139,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
3140,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Evanston,21118,5390.450,2081.264,16.342,6.31,5406.791,2087.574,+41.284726°,–110.558947°
3141,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
3142,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°