In [264]:
import pandas as pd

pd.set_option('display.max_rows', 200)

In [265]:
wiki = pd.read_csv("wikicounty.csv")
wiki

,Unnamed: 0,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,0,1,AL,1001,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,1,2,AL,1003,Baldwin,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,2,3,AL,1005,Barbour,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,3,4,AL,1007,Bibb,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,4,5,AL,1009,Blount,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,3139,WY,56037,Sweetwater,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
3139,3139,3140,WY,56039,Teton,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
3140,3140,3141,WY,56041,Uinta,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,+41.284726°,–110.558947°
3141,3141,3142,WY,56043,Washakie,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
3142,3142,3143,WY,56045,Weston,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [266]:
wiki = wiki.sort_values(by = "County [2]")
wiki = wiki.reset_index(drop = True)
wiki

,Unnamed: 0,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,2316,2317,SC,45001,Abbeville,Abbeville,25417,1270.348,490.484,53.116,20.508,1323.464,510.992,+34.213809°,–82.460460°
1,1113,1114,LA,22001,Acadia,Crowley,61773,1696.751,655.119,6.049,2.335,1702.799,657.454,+30.291497°,–92.411037°
2,2820,2821,VA,51001,Accomack,Accomac,33164,1164.189,449.496,2228.794,860.542,3392.983,1310.038,+37.765944°,–75.757807°
3,551,552,ID,16001,Ada,Boise,392365,2726.158,1052.576,20.425,7.886,2746.583,1060.462,+43.447861°,–116.244456°
4,993,994,KY,21001,Adair,Columbia,18656,1049.677,405.283,18.432,7.117,1068.109,412.400,+37.105541°,–85.281401°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,110,111,AZ,4027,Yuma,Yuma,195751,14281.174,5513.992,13.254,5.117,14294.428,5519.109,+32.773942°,–113.910905°
3139,307,308,CO,8125,Yuma,Wray,10043,6123.780,2364.405,11.135,4.299,6134.915,2368.704,+40.000631°,–102.422649°
3140,2775,2776,TX,48505,Zapata,Zapata,14018,2585.876,998.412,154.371,59.603,2740.247,1058.015,+26.996981°,–99.182603°
3141,2776,2777,TX,48507,Zavala,Crystal City,11677,3360.267,1297.406,11.210,4.328,3371.477,1301.734,+28.864652°,–99.759830°
3142,2427,2428,SD,46137,Ziebach,Dupree,2801,5079.670,1961.272,24.212,9.348,5103.883,1970.620,+44.981666°,–101.669225°

In [267]:
import pandas as pd
import re
import json# Assuming the dataset and JSON file are available
# Load the JSON state codes and the full dataset (replace 'wiki.csv' with your dataset's actual name if needed)
states_json_path = "states_codes.json"
wiki_path = "wikicounty.csv"  # Replace with the actual path to your dataset

# Read state codes JSON
with open(states_json_path, "r") as f:
    state_codes_full = json.load(f)

# Create a mapping of state abbreviations to their numeric codes
state_code_mapping_full = {v["abbreviation"]: f"{v['code']:02}" for v in state_codes_full.values()}

# Load the dataset
wiki_df = pd.read_csv(wiki_path)

# Step 1: Clean the County[2] column by stripping patterns like [6] and removing spaces
wiki_df["County [2]"] = wiki_df["County [2]"].apply(lambda x: re.sub(r"\s*\[\d+\]", "", str(x)).replace(" ", ""))

# Step 2: Create the combined code using state codes and cleaned county names
wiki_df["Code"] = wiki_df.apply(
    lambda row: f"{state_code_mapping_full.get(row['State'], 'XX')}{row['County [2]']}",
    axis=1
)

In [268]:
wiki = wiki_df

In [269]:
data = pd.read_csv("original_dataset.csv")
data

/var/folders/26/l89mqgp17zj82yvlmd3z3r200000ks/T/ipykernel_26614/1021443775.py:1: DtypeWarning: Columns (249,250,257,258,259,266,267,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,309,315,316,317,319,321,325,326,327,338,339,345,346,347,348,349,350,351,354,355,356,357,372,373,374,377,385,386,387,388,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("original_dataset.csv")

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,Number_of_FDPIR_Available_USDA_2015,Number_of_Food_Banks_Available_USDA_2016,Number_of_Farmers_Market_Accept_SNAP_USDA_2018,Percent_of_Farmers_Market_Accept_SNAP_USDA_2018,Number_of_Farmers_Market_Accept_WIC_USDA_2018,Percent_of_Farmers_Market_Accept_WIC_USDA_2018,Number_of_Farmers_Market_Accept_WIC_Cash_USDA_2018,Number_of_Farmers_Market_Accept_SFMNP_USDA_2018,Percent_of_Farmers_Market_Accept_SFMNP_USDA_2018,Number_of_Recreation_Fitness_Facilities_Per1000_Residents_USDA_2016
0,01Autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6.0
1,01Baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,4.0,100.0,21.0
2,01Barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,2.0,50.000000,0.0,0.0,0.0,2.0,50.0,0.0
3,01Bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
4,01Blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,1.0,100.0,0.0,1.0,100.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56Sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6.0
3139,56Teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,0.0,0.0,1.0,33.333332,0.0,0.0,0.0,0.0,0.0,13.0
3140,56Uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.0
3141,56Washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
3142,56Weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [270]:

# data['statecounty_x'] = data['statecounty_x'].str.replace(r'\d+', '', regex=True)
# data['statecounty_x'] = data['statecounty_x'].str.split().str[0]
data['statecounty_x'] = data['statecounty_x'].str.strip().str.lower()

data = data.sort_values(by = "statecounty_x")
data

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,Number_of_FDPIR_Available_USDA_2015,Number_of_Food_Banks_Available_USDA_2016,Number_of_Farmers_Market_Accept_SNAP_USDA_2018,Percent_of_Farmers_Market_Accept_SNAP_USDA_2018,Number_of_Farmers_Market_Accept_WIC_USDA_2018,Percent_of_Farmers_Market_Accept_WIC_USDA_2018,Number_of_Farmers_Market_Accept_WIC_Cash_USDA_2018,Number_of_Farmers_Market_Accept_SFMNP_USDA_2018,Percent_of_Farmers_Market_Accept_SFMNP_USDA_2018,Number_of_Recreation_Fitness_Facilities_Per1000_Residents_USDA_2016
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6.0
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,4.0,100.0,21.0
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,2.0,50.000000,0.0,0.0,0.0,2.0,50.0,0.0
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,1.0,100.0,0.0,1.0,100.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6.0
3139,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,0.0,0.0,1.0,33.333332,0.0,0.0,0.0,0.0,0.0,13.0
3140,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.0
3141,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
3142,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [271]:
import pandas as pd
import re
import json

# Load the immigration dataset
immi = pd.read_csv("immigration_cleaned.csv")

# Load the state codes JSON file
with open(states_json_path, "r") as f:
    state_codes_full = json.load(f)

# Create a mapping of state names to their numeric codes
state_name_to_code = {k: f"{v['code']:02}" for k, v in state_codes_full.items()}

# Step 1: Clean the `name` column by stripping patterns like [6] and removing spaces
immi["name"] = immi["name"].apply(lambda x: re.sub(r"\s*\[\d+\]", "", str(x)).replace(" ", ""))

# List of suffixes and terms to remove (case-insensitive)
county_equivalents = [
    "County", "Census Area", "Borough", "City and Borough",
    "City", "Combined Area", "Parish", "city", "census area"
]

# Create a regex pattern to match these terms only if they appear as the last word
pattern = r"\s*(" + "|".join(county_equivalents) + r")$"

# Apply the cleaning function to the 'name' column with case insensitivity
immi['name'] = immi['name'].str.replace(pattern, "", regex=True, flags=re.IGNORECASE)

# Step 2: Map state names to codes and combine with cleaned county names
immi["Code"] = immi.apply(
    lambda row: f"{state_name_to_code.get(row['stname'], 'XX')}{row['name']}",
    axis=1
)

replacement_mapping = {
    "02aleutianswestcensusarea": "02aleutianswest",
    "02anchoragemunicipality": "02anchorage",
    "02bethelcensusarea": "02bethel",
    "02dillinghamcensusarea": "02dillingham",
    "02chugach-copperrivercombinedarea": "02valdez-cordova",
    "02juneaucityand": "02juneau",
    "02kusilvakcensusarea": "02wadehampton",  # Historical rename
    "02nomecensusarea": "02nome",
    "02petersburg-princeofwales-hyder-wrangellcombinedarea": "02princeofwales-hyder",
    "02sitkacityand": "02sitka",
    "02skagway-hoonah-angooncombinedarea": "02hoonah-angoon",
    "02southeastfairbankscensusarea": "02southeastfairbanks",
    "02yakutatcityand": "02yakutat",
    "02yukon-koyukukcensusarea": "02yukon-koyukuk",
    "12hills": "12hillsborough",
    "15hawaii": "15hawaiʻi",
    "15kauai": "15kauaʻi",
    "32carson": "32carsoncity",
    "33hills": "33hillsborough",
    "35do??aana": "35donaana",
    "51charles": "51charlescity",
    "51james": "51jamescity"
}

# Apply replacements where applicable
immi["Code"] = immi["Code"].replace(replacement_mapping)

# Step 3: Sort the DataFrame by the 'Code' column
immi = immi.sort_values(by='Code')

immi.loc[immi['Code'] == '51jamescity']

Empty DataFrame
Columns: [stname, name, fips, r1ttt0, r1ttt5, r1ttt10, r1ttt15, r1ttt20, r1ttt25, r1ttt30, r1ttt35, r1ttt40, r1ttt45, r1ttt50, r1ttt55, r1ttt60, r1ttt65, r1ttt70, r1ttt75, m1ttt0, m1ttt5, m1ttt10, m1ttt15, m1ttt20, m1ttt25, m1ttt30, m1ttt35, m1ttt40, m1ttt45, m1ttt50, m1ttt55, m1ttt60, m1ttt65, m1ttt70, m1ttt75, e1ttt0, e1ttt5, e1ttt10, e1ttt15, e1ttt20, e1ttt25, e1ttt30, e1ttt35, e1ttt40, e1ttt45, e1ttt50, e1ttt55, e1ttt60, e1ttt65, e1ttt70, e1ttt75, Code]
Index: []

[0 rows x 52 columns]

In [272]:
print("Unique fips_county in immi:", immi['Code'].nunique())
print("Unique fips_county in wiki:", wiki['Code'].nunique())
immi['Code'] = immi['Code'].str.lower().str.strip()
wiki['Code'] = wiki['Code'].str.lower().str.strip()

Unique fips_county in immi: 3133
Unique fips_county in wiki: 3136

In [273]:
merged_data = pd.merge(immi, wiki, on='Code', how='inner')
print("Number of rows after inner merge:", merged_data.shape)
print(merged_data.sort_values("name"))

Number of rows after inner merge: (3130, 67)
              stname       name   fips  r1ttt0  r1ttt5  r1ttt10  r1ttt15  \
2296  South Carolina  Abbeville  45001   -1.34   -1.19    -4.58     3.01
1092       Louisiana     Acadia  22001  -10.85   -8.98   -11.27   -14.32
2800        Virginia   Accomack  51001   -0.65   -7.37    -0.13    -6.86
530            Idaho        Ada  16001    6.15   20.24    19.00    14.00
1464        Missouri      Adair  29001   -7.09   -9.33   -14.97   109.99
...              ...        ...    ...     ...     ...      ...      ...
93           Arizona       Yuma   4027   -5.29   -8.58   -10.35    -2.15
290         Colorado       Yuma   8125    3.14    7.81    -1.37   -10.00
2755           Texas     Zapata  48505   -4.06  -11.08   -11.41    -9.74
2756           Texas     Zavala  48507  -17.89  -19.47   -24.64   -18.70
2407    South Dakota    Ziebach  46137   -2.89  -25.15   -37.97   -18.57

      r1ttt20  r1ttt25  r1ttt30  ...  County Seat(s) [3]  Population (2010)  \
2296    -2.78   -27.26   -20.06  ...           Abbeville              25417
1092   -26.20   -18.43    -4.28  ...             Crowley              61773
2800   -15.57    -8.94     4.90  ...             Accomac              33164
530      5.78    31.77    38.96  ...               Boise             392365
1464   281.10   -46.93   -74.65  ...          Kirksville              25607
...       ...      ...      ...  ...                 ...                ...
93       4.37    -6.75    -9.08  ...                Yuma             195751
290    -22.47   -16.56    21.56  ...                Wray              10043
2755   -17.01   -28.73   -26.90  ...              Zapata              14018
2756   -22.71   -34.40   -35.64  ...        Crystal City              11677
2407   -19.50   -27.99   -46.50  ...              Dupree               2801

      Land Area km²  Land Area mi²  Water Area km²  Water Area mi²  \
2296       1270.348        490.484          53.116          20.508
1092       1696.751        655.119           6.049           2.335
2800       1164.189        449.496        2228.794         860.542
530        2726.158       1052.576          20.425           7.886
1464       1469.361        567.324           5.469           2.112
...             ...            ...             ...             ...
93        14281.174       5513.992          13.254           5.117
290        6123.780       2364.405          11.135           4.299
2755       2585.876        998.412         154.371          59.603
2756       3360.267       1297.406          11.210           4.328
2407       5079.670       1961.272          24.212           9.348

      Total Area km²  Total Area mi²     Latitude     Longitude
2296        1323.464         510.992  +34.213809°   –82.460460°
1092        1702.799         657.454  +30.291497°   –92.411037°
2800        3392.983        1310.038  +37.765944°   –75.757807°
530         2746.583        1060.462  +43.447861°  –116.244456°
1464        1474.830         569.436  +40.190666°   –92.603592°
...              ...             ...          ...           ...
93         14294.428        5519.109  +32.773942°  –113.910905°
290         6134.915        2368.704  +40.000631°  –102.422649°
2755        2740.247        1058.015  +26.996981°   –99.182603°
2756        3371.477        1301.734  +28.864652°   –99.759830°
2407        5103.883        1970.620  +44.981666°  –101.669225°

[3130 rows x 67 columns]

In [274]:

not_in_wiki = immi[~immi['Code'].isin(wiki['Code'])]
print("Entries in immi not in wiki:")
print(not_in_wiki['Code'].unique())

not_in_immi = wiki[~wiki['Code'].isin(immi['Code'])]
print("Entries in wiki not in immi:")
print(not_in_immi['Code'].unique())

Entries in immi not in wiki:
['02aleutianswestcensusarea' '02anchoragemunicipality'
 '02bethelcensusarea' '02chugach-copperrivercombinedarea'
 '02dillinghamcensusarea' '02juneaucityand' '02kusilvakcensusarea'
 '02nomecensusarea'
 '02petersburg-princeofwales-hyder-wrangellcombinedarea' '02sitkacityand'
 '02skagway-hoonah-angooncombinedarea' '02southeastfairbankscensusarea'
 '02yakutatcityand' '02yukon-koyukukcensusarea' '12hills' '15hawaii'
 '15kauai' '32carson' '33hills' '35do??aana' '51charles' '51james']
Entries in wiki not in immi:
['02aleutianswest' '02anchorage' '02bethel' '02dillingham'
 '02hoonah-angoon' '02juneau' '02nome' '02petersburg'
 '02princeofwales-hyder' '02sitka' '02skagway' '02southeastfairbanks'
 '02valdez-cordova' '02wadehampton' '02wrangell' '02yakutat'
 '02yukon-koyukuk' '12hillsborough' '15hawaiʻi' '15kauaʻi' '32carsoncity'
 '33hillsborough' '35donaana' '51charlescity' '51jamescity']

In [275]:
# Perform inner merge on the `Code` column
merged_data = pd.merge(immi, wiki, on="Code", how="inner")
print("Number of rows after inner merge:", merged_data.shape)

# Identify unmatched rows
immi_not_in_wiki = immi[~immi["Code"].isin(wiki["Code"])]
wiki_not_in_immi = wiki[~wiki["Code"].isin(immi["Code"])]

print("Entries in immi not in wiki:", immi_not_in_wiki["Code"].unique())
print("Entries in wiki not in immi:", wiki_not_in_immi["Code"].unique())

# Manual mapping for unmatched rows
replacement_mapping = {
    "02aleutianswestcensusarea": "02aleutianswest",
    "02anchoragemunicipality": "02anchorage",
    "02bethelcensusarea": "02bethel",
    "02dillinghamcensusarea": "02dillingham",
    "02chugach-copperrivercombinedarea": "02valdez-cordova",
    "02juneaucityand": "02juneau",
    "02kusilvakcensusarea": "02wadehampton",  # Historical rename
    "02nomecensusarea": "02nome",
    "02petersburg-princeofwales-hyder-wrangellcombinedarea": "02princeofwales-hyder",
    "02sitkacityand": "02sitka",
    "02skagway-hoonah-angooncombinedarea": "02hoonah-angoon",
    "02southeastfairbankscensusarea": "02southeastfairbanks",
    "02yakutatcityand": "02yakutat",
    "02yukon-koyukukcensusarea": "02yukon-koyukuk",
    "12hills": "12hillsborough",
    "15hawaii": "15hawaiʻi",
    "15kauai": "15kauaʻi",
    "32carson": "32carsoncity",
    "33hills": "33hillsborough",
    "35do??aana": "35donaana",
    "51charles": "51charlescity",
    "51james": "51jamescity"
}

# Apply replacement mapping to immi unmatched rows
immi_not_in_wiki["Code"] = immi_not_in_wiki["Code"].replace(replacement_mapping)

# Filter out any remaining unmatched rows after replacements
unmatched_after_mapping = immi_not_in_wiki[~immi_not_in_wiki["Code"].isin(wiki["Code"])]
print("Remaining unmatched rows after mapping:", unmatched_after_mapping.shape)

# Re-merge after applying replacements
mapped_merge = pd.merge(immi_not_in_wiki, wiki, on="Code", how="inner")

# Combine the original merged data with newly mapped rows
final_merged = pd.concat([merged_data, mapped_merge], ignore_index=True)

# Display final dataset summary
print("Final merged dataset shape:", final_merged.shape)
final_merged

Number of rows after inner merge: (3130, 67)
Entries in immi not in wiki: ['02aleutianswestcensusarea' '02anchoragemunicipality'
 '02bethelcensusarea' '02chugach-copperrivercombinedarea'
 '02dillinghamcensusarea' '02juneaucityand' '02kusilvakcensusarea'
 '02nomecensusarea'
 '02petersburg-princeofwales-hyder-wrangellcombinedarea' '02sitkacityand'
 '02skagway-hoonah-angooncombinedarea' '02southeastfairbankscensusarea'
 '02yakutatcityand' '02yukon-koyukukcensusarea' '12hills' '15hawaii'
 '15kauai' '32carson' '33hills' '35do??aana' '51charles' '51james']
Entries in wiki not in immi: ['02aleutianswest' '02anchorage' '02bethel' '02dillingham'
 '02hoonah-angoon' '02juneau' '02nome' '02petersburg'
 '02princeofwales-hyder' '02sitka' '02skagway' '02southeastfairbanks'
 '02valdez-cordova' '02wadehampton' '02wrangell' '02yakutat'
 '02yukon-koyukuk' '12hillsborough' '15hawaiʻi' '15kauaʻi' '32carsoncity'
 '33hillsborough' '35donaana' '51charlescity' '51jamescity']
Remaining unmatched rows after mapping: (0, 52)
Final merged dataset shape: (3152, 67)

/var/folders/26/l89mqgp17zj82yvlmd3z3r200000ks/T/ipykernel_26614/486621184.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  immi_not_in_wiki["Code"] = immi_not_in_wiki["Code"].replace(replacement_mapping)

,stname,name,fips,r1ttt0,r1ttt5,r1ttt10,r1ttt15,r1ttt20,r1ttt25,r1ttt30,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,Alabama,Autauga,1001,4.85,17.91,10.35,-2.57,-21.92,-6.69,25.64,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,Alabama,Baldwin,1003,5.34,23.38,27.22,19.38,-1.89,10.39,41.56,...,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,Alabama,Barbour,1005,-2.33,-4.88,-10.16,-9.85,-4.21,4.21,-7.29,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,Alabama,Bibb,1007,-4.47,-4.68,-12.58,-12.82,-6.61,11.23,10.56,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,Alabama,Blount,1009,3.22,6.22,6.10,-2.68,-18.79,-9.07,14.68,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3147,Nevada,Carson,32510,7.67,11.73,2.17,0.74,-0.99,18.16,19.49,...,—,55274,374.673,144.662,32.587,12.582,407.260,157.244,+39.153447°,–119.743442°
3148,New Hampshire,Hills,33011,3.49,4.16,0.44,0.13,-2.20,9.94,25.91,...,"Manchester, Nashua",400721,2269.189,876.139,41.637,16.076,2310.825,892.215,+42.911643°,–71.723101°
3149,New Mexico,Do??aAna,35013,-1.77,-3.36,-5.21,21.93,56.46,-11.50,-33.22,...,Las Cruces,209233,9861.409,3807.511,17.790,6.869,9879.198,3814.380,+32.350912°,–106.832182°
3150,Virginia,Charles,51036,9.94,2.31,-12.97,-12.79,-15.47,-2.51,0.27,...,Charles City,7256,473.494,182.817,55.491,21.425,528.985,204.242,+37.361048°,–77.054171°
3151,Virginia,James,51095,-1.78,16.86,28.14,15.86,-9.66,-7.13,18.55,...,Williamsburg [13],67009,368.909,142.437,95.321,36.804,464.230,179.241,+37.324427°,–76.778319°

In [276]:
data.loc[data['statecounty_x'] =='12hillsborough']

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,Number_of_FDPIR_Available_USDA_2015,Number_of_Food_Banks_Available_USDA_2016,Number_of_Farmers_Market_Accept_SNAP_USDA_2018,Percent_of_Farmers_Market_Accept_SNAP_USDA_2018,Number_of_Farmers_Market_Accept_WIC_USDA_2018,Percent_of_Farmers_Market_Accept_WIC_USDA_2018,Number_of_Farmers_Market_Accept_WIC_Cash_USDA_2018,Number_of_Farmers_Market_Accept_SFMNP_USDA_2018,Percent_of_Farmers_Market_Accept_SFMNP_USDA_2018,Number_of_Recreation_Fitness_Facilities_Per1000_Residents_USDA_2016
348,12hillsborough,8.6,8.5,8.1,7.9,8.4,8.5,0.0%,0.0%,0.0%,...,0.0,1.0,3.0,30.0,0.0,0.0,1.0,0.0,0.0,152.0

In [277]:
# for i in range(min(len(not_in_immi), len(not_in_wiki))):
#     print(not_in_wiki.iloc[i]['fips_county'], not_in_immi.iloc[i]['fips_county'])

In [278]:
three_merged = pd.merge(data, final_merged, left_on="statecounty_x", right_on = 'Code',how="inner")
three_merged

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2856,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
2857,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
2858,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,+41.284726°,–110.558947°
2859,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
2860,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [280]:

not_in_final_merged = data[~data["statecounty_x"].isin(final_merged["Code"])]
print("Entries in 'data' but not in 'final_merged':")
print(not_in_final_merged["statecounty_x"].unique())

not_in_data = final_merged[~final_merged["Code"].isin(data["statecounty_x"])]
print("Entries in 'final_merged' but not in 'data':")
print(not_in_data["Code"].unique())

Entries in 'data' but not in 'final_merged':
['01st. clair' '02aleutians east borough' '02aleutians west census area'
 '02anchorage municipality' '02bethel census area' '02bristol bay borough'
 '02chugach census area' '02copper river census area' '02denali borough'
 '02dillingham census area' '02fairbanks north star borough'
 '02haines borough' '02hoonah-angoon census area'
 '02juneau city and borough' '02kenai peninsula borough'
 '02ketchikan gateway borough' '02kodiak island borough'
 '02kusilvak census area' '02lake and peninsula borough'
 '02matanuska-susitna borough' '02nome census area'
 '02north slope borough' '02northwest arctic borough'
 '02petersburg borough' '02prince of wales-hyder census area'
 '02sitka city and borough' '02skagway municipality'
 '02southeast fairbanks census area' '02wrangell city and borough'
 '02yakutat city and borough' '02yukon-koyukuk census area' '04la paz'
 '04santa cruz' '05hot spring' '05little river' '05st. francis'
 '05van buren' '06contra costa' '06del norte' '06el dorado'
 '06los angeles' '06san benito' '06san bernardino' '06san diego'
 '06san francisco' '06san joaquin' '06san luis obispo' '06san mateo'
 '06santa barbara' '06santa clara' '06santa cruz' '08clear creek'
 '08el paso' '08kit carson' '08la plata' '08las animas' '08rio blanco'
 '08rio grande' '08san juan' '08san miguel' '09new haven' '09new london'
 '10new castle' '11district of columbia' '12indian river' '12palm beach'
 '12santa rosa' '12st. johns' '12st. lucie' '13ben hill' '13jeff davis'
 '15hawaii' '15kauai' '16bear lake' '16nez perce' '16twin falls'
 '17de witt' '17jo daviess' '17rock island' '17st. clair' '18st. joseph'
 '19black hawk' '19buena vista' '19cerro gordo' '19des moines'
 '19palo alto' '19van buren' '22acadia parish' '22allen parish'
 '22ascension parish' '22assumption parish' '22avoyelles parish'
 '22beauregard parish' '22bienville parish' '22bossier parish'
 '22caddo parish' '22calcasieu parish' '22caldwell parish'
 '22cameron parish' '22catahoula parish' '22claiborne parish'
 '22concordia parish' '22de soto parish' '22east baton rouge parish'
 '22east carroll parish' '22east feliciana parish' '22evangeline parish'
 '22franklin parish' '22grant parish' '22iberia parish'
 '22iberville parish' '22jackson parish' '22jefferson davis parish'
 '22jefferson parish' '22lafayette parish' '22lafourche parish'
 '22lasalle parish' '22lincoln parish' '22livingston parish'
 '22madison parish' '22morehouse parish' '22natchitoches parish'
 '22orleans parish' '22ouachita parish' '22plaquemines parish'
 '22pointe coupee parish' '22rapides parish' '22red river parish'
 '22richland parish' '22sabine parish' '22st. bernard parish'
 '22st. charles parish' '22st. helena parish' '22st. james parish'
 '22st. john the baptist parish' '22st. landry parish'
 '22st. martin parish' '22st. mary parish' '22st. tammany parish'
 '22tangipahoa parish' '22tensas parish' '22terrebonne parish'
 '22union parish' '22vermilion parish' '22vernon parish'
 '22washington parish' '22webster parish' '22west baton rouge parish'
 '22west carroll parish' '22west feliciana parish' '22winn parish'
 '24anne arundel' '24baltimore city' "24prince george's" "24queen anne's"
 "24st. mary's" '26grand traverse' '26presque isle' '26st. clair'
 '26st. joseph' '26van buren' '27big stone' '27blue earth' '27crow wing'
 '27lac qui parle' '27lake of the woods' '27le sueur' '27mille lacs'
 '27otter tail' '27red lake' '27st. louis' '27yellow medicine'
 '28jefferson davis' '28pearl river' '29cape girardeau' '29new madrid'
 '29st. charles' '29st. clair' '29st. francois' '29st. louis'
 '29st. louis city' '29ste. genevieve' '30big horn' '30deer lodge'
 '30golden valley' '30judith basin' '30lewis and clark' '30powder river'
 '30silver bow' '30sweet grass' '31box butte' '31keya paha' '31red willow'
 '31scotts bluff' '32carson city' '32white pine' '34cape may' '35de baca'
 '35doña ana' '35los alamos' '35rio arriba' '35san juan' '35san miguel'
 '35santa fe' '36new york' '36st. lawrence' '37new hanover'
 '38golden valley' '38grand forks' '39van wert' '40le flore'
 '40roger mills' '41hood river' '46bon homme' '46charles mix'
 '46fall river' '46oglala lakota' '47van buren' '48deaf smith' '48el paso'
 '48fort bend' '48jeff davis' '48jim hogg' '48jim wells' '48la salle'
 '48live oak' '48palo pinto' '48red river' '48san augustine'
 '48san jacinto' '48san patricio' '48san saba' '48tom green' '48val verde'
 '48van zandt' '49box elder' '49salt lake' '49san juan' '50grand isle'
 '51alexandria city' '51bristol city' '51buena vista city'
 '51charles city' '51charlottesville city' '51chesapeake city'
 '51colonial heights city' '51covington city' '51danville city'
 '51emporia city' '51fairfax city' '51falls church city' '51franklin city'
 '51fredericksburg city' '51galax city' '51hampton city'
 '51harrisonburg city' '51hopewell city' '51isle of wight' '51james city'
 '51king and queen' '51king george' '51king william' '51lexington city'
 '51lynchburg city' '51manassas city' '51manassas park city'
 '51martinsville city' '51new kent' '51newport news city' '51norfolk city'
 '51norton city' '51petersburg city' '51poquoson city' '51portsmouth city'
 '51prince edward' '51prince george' '51prince william' '51radford city'
 '51richmond city' '51roanoke city' '51salem city' '51staunton city'
 '51suffolk city' '51virginia beach city' '51waynesboro city'
 '51williamsburg city' '51winchester city' '53grays harbor'
 '53pend oreille' '53san juan' '53walla walla' '55eau claire'
 '55fond du lac' '55green lake' '55la crosse' '55st. croix' '56big horn'
 '56hot springs']
Entries in 'final_merged' but not in 'data':
['01st.clair' '02aleutianseast' '02bristolbay' '02denali'
 '02fairbanksnorthstar' '02haines' '02kenaipeninsula' '02ketchikangateway'
 '02kodiakisland' '02lakeandpeninsula' '02matanuska-susitna'
 '02northslope' '02northwestarctic' '04lapaz' '04santacruz' '05hotspring'
 '05littleriver' '05st.francis' '05vanburen' '06contracosta' '06delnorte'
 '06eldorado' '06losangeles' '06sanbenito' '06sanbernardino' '06sandiego'
 '06sanfrancisco' '06sanjoaquin' '06sanluisobispo' '06sanmateo'
 '06santabarbara' '06santaclara' '06santacruz' '08clearcreek' '08elpaso'
 '08kitcarson' '08laplata' '08lasanimas' '08rioblanco' '08riogrande'
 '08sanjuan' '08sanmiguel' '09newhaven' '09newlondon' '10newcastle'
 '12indianriver' '12palmbeach' '12santarosa' '12st.johns' '12st.lucie'
 '13benhill' '13jeffdavis' '16bearlake' '16nezperce' '16twinfalls'
 '17dewitt' '17jodaviess' '17rockisland' '17st.clair' '18st.joseph'
 '19blackhawk' '19buenavista' '19cerrogordo' '19desmoines' '19paloalto'
 '19vanburen' '22acadia' '22allen' '22ascension' '22assumption'
 '22avoyelles' '22beauregard' '22bienville' '22bossier' '22caddo'
 '22calcasieu' '22caldwell' '22cameron' '22catahoula' '22claiborne'
 '22concordia' '22desoto' '22eastbatonrouge' '22eastcarroll'
 '22eastfeliciana' '22evangeline' '22franklin' '22grant' '22iberia'
 '22iberville' '22jackson' '22jefferson' '22jeffersondavis' '22lasalle'
 '22lafayette' '22lafourche' '22lincoln' '22livingston' '22madison'
 '22morehouse' '22natchitoches' '22orleans' '22ouachita' '22plaquemines'
 '22pointecoupee' '22rapides' '22redriver' '22richland' '22sabine'
 '22st.bernard' '22st.charles' '22st.helena' '22st.james'
 '22st.johnthebaptist' '22st.landry' '22st.martin' '22st.mary'
 '22st.tammany' '22tangipahoa' '22tensas' '22terrebonne' '22union'
 '22vermilion' '22vernon' '22washington' '22webster' '22westbatonrouge'
 '22westcarroll' '22westfeliciana' '22winn' '24annearundel'
 "24princegeorge's" "24queenanne's" "24st.mary's" '26grandtraverse'
 '26presqueisle' '26st.clair' '26st.joseph' '26vanburen' '27bigstone'
 '27blueearth' '27crowwing' '27lacquiparle' '27lakeofthewoods' '27lesueur'
 '27millelacs' '27ottertail' '27redlake' '27st.louis' '27yellowmedicine'
 '28jeffersondavis' '28pearlriver' '29capegirardeau' '29newmadrid'
 '29st.charles' '29st.clair' '29st.francois' '29st.louis'
 '29ste.genevieve' '30bighorn' '30deerlodge' '30goldenvalley'
 '30judithbasin' '30lewisandclark' '30powderriver' '30silverbow'
 '30sweetgrass' '31boxbutte' '31keyapaha' '31redwillow' '31scottsbluff'
 '32whitepine' '34capemay' '35debaca' '35losalamos' '35rioarriba'
 '35sanjuan' '35sanmiguel' '35santafe' '36newyork' '36st.lawrence'
 '37newhanover' '38goldenvalley' '38grandforks' '39vanwert' '40leflore'
 '40rogermills' '41hoodriver' '46bonhomme' '46charlesmix' '46fallriver'
 '46oglalalakota' '47vanburen' '48deafsmith' '48elpaso' '48fortbend'
 '48jeffdavis' '48jimhogg' '48jimwells' '48lasalle' '48liveoak'
 '48palopinto' '48redriver' '48sanaugustine' '48sanjacinto'
 '48sanpatricio' '48sansaba' '48tomgreen' '48valverde' '48vanzandt'
 '49boxelder' '49saltlake' '49sanjuan' '50grandisle' '51alexandria'
 '51bristol' '51buenavista' '51charlottesville' '51chesapeake'
 '51colonialheights' '51covington' '51danville' '51emporia'
 '51fallschurch' '51fredericksburg' '51galax' '51hampton' '51harrisonburg'
 '51hopewell' '51isleofwight' '51kinggeorge' '51kingwilliam'
 '51kingandqueen' '51lexington' '51lynchburg' '51manassas'
 '51manassaspark' '51martinsville' '51newkent' '51newportnews' '51norfolk'
 '51norton' '51petersburg' '51poquoson' '51portsmouth' '51princeedward'
 '51princegeorge' '51princewilliam' '51radford' '51salem' '51staunton'
 '51suffolk' '51virginiabeach' '51waynesboro' '51williamsburg'
 '51winchester' '53graysharbor' '53pendoreille' '53sanjuan' '53wallawalla'
 '55eauclaire' '55fonddulac' '55greenlake' '55lacrosse' '55st.croix'
 '56bighorn' '56hotsprings' 'xxdistrictofcolumbia' '02aleutianswest'
 '02anchorage' '02bethel' '02valdez-cordova' '02dillingham' '02juneau'
 '02wadehampton' '02nome' '02princeofwales-hyder' '02sitka'
 '02hoonah-angoon' '02southeastfairbanks' '02yakutat' '02yukon-koyukuk'
 '15hawaiʻi' '15kauaʻi' '32carsoncity' '35donaana' '51charlescity'
 '51jamescity']

## Match the names using SBERT

In [34]:
%pip install transformers faiss-cpu

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Requirement already satisfied: transformers in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.46.3)
Requirement already satisfied: faiss-cpu in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.9.0.post1)
Requirement already satisfied: filelock in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (3.13.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (0.26.2)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (24.0)
Requirement already satisfied: pyyaml>=5.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.21,>=0.20 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (0.20.3)
Requirement already satisfied: safetensors>=0.4.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (0.4.5)
Requirement already satisfied: tqdm>=4.27 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from transformers) (4.67.0)
Requirement already satisfied: fsspec>=2023.5.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (2024.10.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (4.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests->transformers) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests->transformers) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests->transformers) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [35]:
# import pandas as pd
# from sentence_transformers import SentenceTransformer, util

# w, i = wiki["fips_county"], immi["fips_county"] # Find match of w in i 

# # Load SBERT Model
# model = SentenceTransformer('all-MiniLM-L6-v2')

# # Function to compute the longest prefix match length
# def prefix_match_length(query, candidate):
#     match_len = 0
#     for q_char, c_char in zip(query, candidate):
#         if q_char == c_char:
#             match_len += 1
#         else:
#             break
#     return match_len

# # Compute prefix match lengths for all query-candidate pairs
# results = []
# for query in w:
#     for candidate in i:
#         prefix_len = prefix_match_length(query, candidate)
#         results.append((query, candidate, prefix_len))

# # Convert results to DataFrame
# results_df = pd.DataFrame(results, columns=["Query", "Candidate", "Prefix Match Length"])

# # Filter to retain only candidates with the longest prefix matches for each query
# max_prefix_df = results_df.loc[results_df.groupby("Query")["Prefix Match Length"].idxmax()]

# # Compute embeddings and semantic similarity for remaining pairs
# max_prefix_df["Query Embedding"] = max_prefix_df["Query"].apply(lambda x: model.encode(x, convert_to_tensor=True))
# max_prefix_df["Candidate Embedding"] = max_prefix_df["Candidate"].apply(lambda x: model.encode(x, convert_to_tensor=True))
# max_prefix_df["Cosine Similarity"] = max_prefix_df.apply(
#     lambda row: util.pytorch_cos_sim(row["Query Embedding"], row["Candidate Embedding"]).item(), axis=1
# )

# # Select the best match for each query based on cosine similarity
# final_results = []
# for query in w:
#     subset = max_prefix_df[max_prefix_df["Query"] == query]
#     best_match = subset.loc[subset["Cosine Similarity"].idxmax()]
#     final_results.append((query, best_match["Candidate"], best_match["Cosine Similarity"]))

# # Convert final results to DataFrame
# final_results_df = pd.DataFrame(final_results, columns=["Query", "Best Match", "Similarity Score"])

# # Save results
# final_results_df.to_csv("w_to_i_sbert_matches.csv", index=False)

# # Display results
# print(final_results_df)

## FAISS for scalability

In [282]:
import faiss
import numpy as np
from sentence_transformers import SentenceTransformer

# Extract relevant columns for matching
w = data["statecounty_x"].astype(str).tolist()  # Entries in 'data'
i = final_merged["Code"].astype(str).tolist()  # Entries in 'final_merged'

# Load SBERT model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Function to compute prefix match length
def prefix_match_length(query, candidate):
    match_len = 0
    for q_char, c_char in zip(query, candidate):
        if q_char == c_char:
            match_len += 1
        else:
            break
    return match_len

# Step 1: Prefix Matching
results = []
for query in w:
    prefix_scores = [(candidate, prefix_match_length(query, candidate)) for candidate in i]
    max_prefix_length = max(score for _, score in prefix_scores)
    filtered_candidates = [candidate for candidate, score in prefix_scores if score == max_prefix_length]
    results.append((query, filtered_candidates))

# Step 2: Semantic Search with FAISS
final_results = []
for query, filtered_candidates in results:
    if not filtered_candidates:
        final_results.append((query, None))  # No match
        continue

    # Compute embeddings for filtered candidates and the query
    query_embedding = model.encode([query], convert_to_tensor=False)
    candidate_embeddings = model.encode(filtered_candidates, convert_to_tensor=False)

    # Normalize embeddings for cosine similarity
    query_embedding = np.array(query_embedding / np.linalg.norm(query_embedding, axis=1, keepdims=True))
    candidate_embeddings = np.array(candidate_embeddings / np.linalg.norm(candidate_embeddings, axis=1, keepdims=True))

    # Build FAISS index for filtered candidates
    dimension = query_embedding.shape[1]
    index = faiss.IndexFlatIP(dimension)  # Inner Product Index
    index.add(candidate_embeddings)

    # Perform ANN search
    _, indices = index.search(query_embedding, 1)  # Top 1 match

    # Map results back to candidate names
    best_match_idx = indices[0][0]
    best_match = filtered_candidates[best_match_idx]
    final_results.append((query, best_match))

# Convert results to DataFrame
final_results_df = pd.DataFrame(final_results, columns=["Query", "Best Match"])

# Print unmatched entries and their best semantic match
print("Final Results:")
print(final_results_df)

Final Results:
             Query    Best Match
0        01autauga     01autauga
1        01baldwin     01baldwin
2        01barbour     01barbour
3           01bibb        01bibb
4         01blount      01blount
...            ...           ...
3138  56sweetwater  56sweetwater
3139       56teton       56teton
3140       56uinta       56uinta
3141    56washakie    56washakie
3142      56weston      56weston

[3143 rows x 2 columns]

In [288]:
final_results_df.to_csv("final_faiss_results.csv", index=False)

## Merge

In [292]:
import pandas as pd
faiss_matches = pd.read_csv("final_faiss_results.csv")

data["mapped_match"] = data["statecounty_x"].map(
    faiss_matches.set_index("Query")["Best Match"]
)

final_merged["mapped_match"] = final_merged["Code"]

merged_result = pd.merge(data, final_merged, on="mapped_match", how="left")

merged_result

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
3266,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
3267,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,+41.284726°,–110.558947°
3268,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
3269,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [296]:

unique_statecounty_x = merged_result[
    ~merged_result.duplicated(subset=["statecounty_x"], keep="first")
]

print("Rows with unique `statecounty_x` (first occurrence kept for duplicates):")
print(unique_statecounty_x)

unique_statecounty_x.to_csv("unique_statecounty_x.csv", index=False)
print("Rows with unique `statecounty_x` saved to 'unique_statecounty_x.csv'.")

Rows with unique `statecounty_x` (first occurrence kept for duplicates):
     statecounty_x  \
0        01autauga
1        01baldwin
2        01barbour
3           01bibb
4         01blount
...            ...
3265  56sweetwater
3266       56teton
3267       56uinta
3268    56washakie
3269      56weston

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016  \
0                                                   NaN
1                                                   7.2
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                5.0
3266                                                4.4
3267                                                NaN
3268                                                NaN
3269                                                2.9

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017  \
0                                                   NaN
1                                                   7.4
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                5.6
3266                                                4.8
3267                                                NaN
3268                                                NaN
3269                                                NaN

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018  \
0                                                   NaN
1                                                   7.1
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                5.4
3266                                                5.1
3267                                                NaN
3268                                                NaN
3269                                                NaN

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019  \
0                                                   NaN
1                                                   7.5
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                4.4
3266                                                3.6
3267                                                NaN
3268                                                NaN
3269                                                NaN

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020  \
0                                                   NaN
1                                                   7.9
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                3.6
3266                                                4.8
3267                                                NaN
3268                                                NaN
3269                                                NaN

      Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021  \
0                                                   NaN
1                                                   7.3
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                                NaN
3266                                                5.1
3267                                                NaN
3268                                                NaN
3269                                                NaN

     Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016  \
0                                                   NaN
1                                                  0.0%
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                               0.0%
3266                                               0.0%
3267                                                NaN
3268                                                NaN
3269                                               0.0%

     Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017  \
0                                                   NaN
1                                                  0.0%
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3265                                               0.0%
3266                                               0.3%
3267                                                NaN
3268                                                NaN
3269                                                NaN

     Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018  ...  \
0                                                   NaN                  ...
1                                                  0.0%                  ...
2                                                   NaN                  ...
3                                                   NaN                  ...
4                                                   NaN                  ...
...                                                 ...                  ...
3265                                               0.0%                  ...
3266                                               0.3%                  ...
3267                                                NaN                  ...
3268                                                NaN                  ...
3269                                                NaN                  ...

     County Seat(s) [3] Population (2010) Land Area km² Land Area mi²  \
0            Prattville             54571      1539.582       594.436
1           Bay Minette            182265      4117.522      1589.784
2               Clayton             27457      2291.819       884.876
3           Centreville             22915      1612.481       622.582
4               Oneonta             57322      1669.962       644.776
...                 ...               ...           ...           ...
3265        Green River             43806     27004.897     10426.649
3266            Jackson             21294     10347.984      3995.379
3267           Evanston             21118      5390.450      2081.264
3268            Worland              8533      5797.815      2238.549
3269          Newcastle              7208      6211.021      2398.089

      Water Area km²  Water Area mi²  Total Area km²  Total Area mi²  \
0             25.776           9.952        1565.358         604.388
1           1133.190         437.527        5250.712        2027.311
2             50.865          19.639        2342.684         904.515
3              9.289           3.587        1621.770         626.169
4             15.157           5.852        1685.119         650.628
...              ...             ...             ...             ...
3265         166.887          64.436       27171.784       10491.085
3266         572.266         220.953       10920.250        4216.332
3267          16.342           6.310        5406.791        2087.574
3268          10.762           4.155        5808.577        2242.704
3269           5.002           1.931        6216.023        2400.020

         Latitude     Longitude
0     +32.536382°   –86.644490°
1     +30.659218°   –87.746067°
2     +31.870670°   –85.405456°
3     +33.015893°   –87.127148°
4     +33.977448°   –86.567246°
...           ...           ...
3265  +41.660339°  –108.875676°
3266  +44.049321°  –110.588102°
3267  +41.284726°  –110.558947°
3268  +43.878831°  –107.669052°
3269  +43.846213°  –104.570020°

[3143 rows x 2066 columns]
Rows with unique `statecounty_x` saved to 'unique_statecounty_x.csv'.

In [297]:
unique_statecounty_x

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
3266,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
3267,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,+41.284726°,–110.558947°
3268,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
3269,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [299]:
import pandas as pd

# Paths to the files
datadict_path = "NME_1020_datadict.csv"  # Replace with your data dictionary path
dataset_path = "unique_statecounty_x.csv"  # Replace with your dataset path

# Load the data dictionary and dataset
datadict = pd.read_csv(datadict_path)
unique_statecounty_x = pd.read_csv(dataset_path)

# Create a mapping dictionary for columns that exist in the dataset
existing_columns = unique_statecounty_x.columns
column_rename_mapping = {row["name"]: row["varlab"] for _, row in datadict.iterrows() if row["name"] in existing_columns}

# Rename columns in the dataset based on the mapping
unique_statecounty_x.rename(columns=column_rename_mapping, inplace=True)

# Save the updated dataset
output_path = "unique_statecounty_x_renamed_columns.csv"  # Replace with desired output path
unique_statecounty_x.to_csv(output_path, index=False)

# Display a message confirming completion
print(f"Dataset updated with renamed columns. Saved to {output_path}")

/var/folders/26/l89mqgp17zj82yvlmd3z3r200000ks/T/ipykernel_26614/2341596197.py:9: DtypeWarning: Columns (249,250,255,256,257,258,259,264,265,266,267,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,308,309,315,316,317,318,319,321,325,326,327,338,339,344,345,346,347,348,349,350,351,354,355,356,357,368,369,372,373,374,377,385,386,387,388,389,390,391,393,394,2060,2061) have mixed types. Specify dtype option on import or set low_memory=False.
  unique_statecounty_x = pd.read_csv(dataset_path)

Dataset updated with renamed columns. Saved to unique_statecounty_x_renamed_columns.csv

In [300]:
unique_statecounty_x

,statecounty_x,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2016,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2017,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2018,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2019,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2020,Highest_PM2.5_Concentration_microgram/m^3_of_Annual_Average_EPA2021,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2016,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2017,Percent_Of_Days_With_Level_Of_PM2.5_Exceeding_The_Standard_EPA2018,...,County Seat(s) [3],Population (2010),Land Area km²,Land Area mi²,Water Area km²,Water Area mi²,Total Area km²,Total Area mi²,Latitude,Longitude
0,01autauga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,+32.536382°,–86.644490°
1,01baldwin,7.2,7.4,7.1,7.5,7.9,7.3,0.0%,0.0%,0.0%,...,Bay Minette,182265,4117.522,1589.784,1133.19,437.527,5250.712,2027.311,+30.659218°,–87.746067°
2,01barbour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,+31.870670°,–85.405456°
3,01bibb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,+33.015893°,–87.127148°
4,01blount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,+33.977448°,–86.567246°
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56sweetwater,5.0,5.6,5.4,4.4,3.6,NaN,0.0%,0.0%,0.0%,...,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,+41.660339°,–108.875676°
3139,56teton,4.4,4.8,5.1,3.6,4.8,5.1,0.0%,0.3%,0.3%,...,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,+44.049321°,–110.588102°
3140,56uinta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Evanston,21118,5390.450,2081.264,16.342,6.31,5406.791,2087.574,+41.284726°,–110.558947°
3141,56washakie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,+43.878831°,–107.669052°
3142,56weston,2.9,NaN,NaN,NaN,NaN,NaN,0.0%,NaN,NaN,...,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,+43.846213°,–104.570020°

In [301]:

matching_columns = set(unique_statecounty_x.columns).intersection(set(datadict["varlab"]))
matching_count = len(matching_columns)
matching_columns_list = list(matching_columns)

matching_count, matching_columns_list

(48,
 ['Expected Population 2020, total, ages 10-14',
  'Expected Population 2020, total, ages 00-04',
  'Net Migrants 2010s, total, ages 00-04',
  'Net Migration Rate 2010s, total, ages 25-29',
  'Net Migration Rate 2010s, total, ages 60-64',
  'Expected Population 2020, total, ages 75-79',
  'Expected Population 2020, total, ages 35-39',
  'Net Migration Rate 2010s, total, ages 75-79',
  'Net Migrants 2010s, total, ages 50-54',
  'Net Migrants 2010s, total, ages 30-34',
  'Expected Population 2020, total, ages 15-19',
  'Net Migrants 2010s, total, ages 45-49',
  'Net Migration Rate 2010s, total, ages 20-24',
  'Net Migrants 2010s, total, ages 35-39',
  'Net Migrants 2010s, total, ages 05-09',
  'Expected Population 2020, total, ages 65-69',
  'Net Migration Rate 2010s, total, ages 05-09',
  'Expected Population 2020, total, ages 20-24',
  'Net Migrants 2010s, total, ages 60-64',
  'Net Migration Rate 2010s, total, ages 70-74',
  'Expected Population 2020, total, ages 30-34',
  'Expected Population 2020, total, ages 50-54',
  'Net Migrants 2010s, total, ages 15-19',
  'Net Migration Rate 2010s, total, ages 35-39',
  'Net Migration Rate 2010s, total, ages 30-34',
  'Net Migrants 2010s, total, ages 55-59',
  'Expected Population 2020, total, ages 45-49',
  'Net Migration Rate 2010s, total, ages 10-14',
  'Net Migrants 2010s, total, ages 70-74',
  'Expected Population 2020, total, ages 70-74',
  'Net Migrants 2010s, total, ages 20-24',
  'Net Migrants 2010s, total, ages 25-29',
  'Net Migrants 2010s, total, ages 75-79',
  'Net Migration Rate 2010s, total, ages 50-54',
  'Net Migrants 2010s, total, ages 65-69',
  'Expected Population 2020, total, ages 60-64',
  'Net Migration Rate 2010s, total, ages 65-69',
  'Net Migration Rate 2010s, total, ages 45-49',
  'Net Migration Rate 2010s, total, ages 00-04',
  'Expected Population 2020, total, ages 40-44',
  'Net Migration Rate 2010s, total, ages 40-44',
  'Net Migrants 2010s, total, ages 10-14',
  'Net Migration Rate 2010s, total, ages 15-19',
  'Expected Population 2020, total, ages 55-59',
  'Expected Population 2020, total, ages 05-09',
  'Net Migrants 2010s, total, ages 40-44',
  'Expected Population 2020, total, ages 25-29',
  'Net Migration Rate 2010s, total, ages 55-59'])